<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Jhamghat Khajaghar - Dashboard</title>
  </head>
  <body>
    <div
      style="
        background-color: #393e46;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        height: 100vh;
      "
    >
      <h2 style="color: #eeeeee; margin-top: 20vh; text-align: center">
        Jhamghat Khajaghar Dashboard
      </h2>
      <div
        style="
          background-color: #222831;
          padding: 50px 30px 50px 30px;
          margin-top: 40px;
          min-width: 30%;
          display: flex;
          flex-direction: column;
        "
      >
        <div style="display: flex; flex-direction: column">
          <label style="color: #eeeeee; margin-bottom: 10px">Email</label>
          <input
            style="width: 100%; padding: 10px; border: none"
            type="text"
            placeholder="Email"
          />
        </div>
        <div
          style="
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-bottom: 20px;
          "
        >
          <label style="color: #eeeeee; margin-bottom: 10px">Password</label>
          <input
            style="width: 100%; padding: 10px; border: none"
            type="text"
            placeholder="Password"
            ,
          />
        </div>
        <button
          style="
            background-color: #00adb5;
            padding: 10px;
            width: 40%;
            border: none;
          "
        >
          Login
        </button>
      </div>
    </div>
  </body>
</html>
